# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database
*.db

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# Streamlit Secrets
.streamlit/secrets.toml
# Database
database/fatigue_logs.db

# Generated datasets
features.csv

# Trained models
models/fatigue_model.pkl

# Python cache
__pycache__/
*.pyc